.centered {
  text-align: center;
}
.centered a {
  padding: 0.9375rem 1.875rem;
  font-size: 1.625rem;
  margin-top: 0.625rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

a.btn {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#created-by {
  text-align: right;
  margin-top: 1.875rem;
  color: #777;
  font-size: 0.9em;
}

.btn-success {
  background: #5cb85c;
}

.main-explain-area {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #eee;
  padding: 1.25rem 0.9375rem;
}

.main-explain-area p {
  margin-bottom: 0.9375rem;
  font-size: 1.3125rem;
  font-weight: 200;
}

@media (min-width: 768px) {
  .main-explain-area {
    padding: 3rem 3.75rem;
  }
}

.jumbotron.purple {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding: 1.25rem 0.9375rem;
  background: #AA4DC8 !important;
  color: #fff;
  font-weight: bold;
  font-size: 1.3rem;
}

.jumbotron.purple a {
  color: #fff;
  text-decoration: underline;
}

@media (min-width: 768px) {
  .jumbotron.purple {
    padding: 3rem 3.75rem;
    font-size: 1.5rem;
  }
}

/* Carbon ads */
#carbonads {
  display: block;
  overflow: hidden;
  text-align: center;
  font-family: "Open Sans", Lora, Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 0.8125rem;
  border: 1px solid #ccc;
  padding: 0.5625rem;
  max-width: 25rem;
  margin: 0 auto 0.9375rem;
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
  text-decoration: underline;
}

#carbonads span {
  display: block;
  overflow: hidden;
  position: relative;
}

.carbon-img {
  display: block;
  margin: 0 0.625rem 0 0;
  float: left;
}

.carbon-img img {
  margin-bottom: 0;
}

.carbon-text {
  display: block;
  margin-bottom: 0;
  float: left;
  text-align: left;
  max-width: calc(100% - 130px - 10px);
}

.carbon-poweredby {
  display: block;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.625rem;
  line-height: 1;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* Support button in navbar */
.navbar-custom .navbar-nav li.nav-item a[href*="github.com/sponsors"] {
  color: hotpink;
  transition: background 300ms, color 300ms;
}
.navbar-custom .navbar-nav li.nav-item a[href*="github.com/sponsors"]:hover {
  background: hotpink;
  color: #3344bb;
}
@media (min-width: 768px) {
  .navbar-custom .navbar-nav .nav-item:not(.dropdown):last-child .nav-link {
    padding-right: 1rem;
  }
}

/* Purple ads */
body.purpleads-hide #psdn-slot {
  display: none;
}


/* Skin Toggle */
#change-skin {
  position: absolute;
  cursor: pointer;
  display: inline-block;
  border: 1px solid #ccc;
  background: #e4e4e4;
  border-radius: 1rem;
  font-size: 0.8125rem;
  padding: 0.0625rem;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (min-width: 1200px) {
  .navbar .navbar-collapse {
    margin-right: 2.3rem;
  }
  #change-skin {
    top: auto;
    right: 1rem;
  }
}
@media (max-width: 1199px) {
  #change-skin {
    top: 0.85rem;
    right: 5rem;
  }
}
#change-skin .skin-btn {
  -webkit-transition: margin 0.3s ease-in-out;
  -moz-transition: margin 0.3s ease-in-out;
  transition: margin 0.3s ease-in-out;
  margin: 0 0.8rem 0 0;
}
#change-skin:hover .skin-btn {
  margin: 0 0 0 0.8rem;
}
#change-skin .dark-mode {
  display: none;
}
.page-dark-mode #change-skin {
  background: #242526;
  border-color: #444;
}
.page-dark-mode #change-skin .dark-mode {
  display: block;
}
.page-dark-mode #change-skin .light-mode {
  display: none;
}
#change-skin:hover {
  background: #888;
}

.page-dark-mode {
  color: #dadad9;
  background-color: #18191a;
}
.page-dark-mode a {
  color: #139ee0;
}
.page-dark-mode #social-share-section a {
  color: #fff;
}
.page-dark-mode a:hover,
.page-dark-mode a:focus {
  color: #28a9e6;
}
.page-dark-mode blockquote {
  color: #999;
}
.page-dark-mode ::-moz-selection {
  color: #18191a;
  text-shadow: none;
  background-color: #28a9e6;
}
.page-dark-mode ::selection {
  color: #18191a;
  text-shadow: none;
  background-color: #28a9e6;
}
.page-dark-mode img::selection {
  color: #28a9e6;
  background: transparent;
}
.page-dark-mode img::-moz-selection {
  color: #28a9e6;
  background: transparent;
}
.page-dark-mode .navbar-custom {
  background-color: #242526;
  border-bottom-color: #393a3b;
}
.page-dark-mode .navbar-custom .navbar-brand,
.page-dark-mode .navbar-custom .navbar-nav .nav-link {
  color: #e4e6eb;
}
.page-dark-mode .navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
  background-color: #242526;
  color: #e4e6eb;
}
@media (min-width: 1200px) {
  .page-dark-mode .navbar-custom .nav-item.dropdown .dropdown-menu .dropdown-item {
    border-color: #393a3b;
  }
}
@media (max-width: 1199px) {
  .page-dark-mode .navbar-custom .navbar-collapse {
    border-top-color: #393a3b;
  }
}
.page-dark-mode .navbar-custom .navbar-brand:hover,
.page-dark-mode .navbar-custom .navbar-brand:focus ,
.page-dark-mode .navbar-custom .navbar-nav .nav-link:hover,
.page-dark-mode .navbar-custom .navbar-nav .nav-link:focus,
.page-dark-mode .navbar-custom .navbar-nav .dropdown-menu .dropdown-item:hover,
.page-dark-mode .navbar-custom .navbar-nav .dropdown-menu .dropdown-item:focus {
  color: #28a9e6;
}
.page-dark-mode footer {
 border-top-color: #242526;
 background-color: #242526;
}
.page-dark-mode footer p.text-muted {
  color: #aaaaaa !important;
}
.page-dark-mode footer a {
  color: #dfdfdf;
}
.page-dark-mode footer a .fa-inverse {
  color: #272727;
}
.page-dark-mode .post-preview {
  border-bottom-color: #444;
}
.page-dark-mode .post-preview a {
  color: #e4e6eb;
}
.page-dark-mode a.btn {
  color: #fff;
}
.page-dark-mode .post-preview a:focus,
.page-dark-mode .post-preview a:hover {
  color: #28a9e6;
}
.page-dark-mode .post-preview .post-meta,
.page-dark-mode .post-heading .post-meta {
  color: #999;
}
.page-dark-mode .blog-tags span {
  color: #e4e6eb;
}
.page-dark-mode .blog-tags a {
  color: #e4e6eb;
}
.page-dark-mode .blog-tags a:hover {
  color: #e4e6eb;
  border-color: #e4e6eb;
}
.page-dark-mode #full-tags-list .tag-entry .entry-date {
  color: #999;
}
.page-dark-mode .intro-header.big-img .page-heading,
.page-dark-mode .intro-header.big-img .post-heading {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
}
.page-dark-mode .intro-header.big-img .page-heading hr {
  box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  -moz-box-shadow: 1px 1px 3px #000;
}
.page-dark-mode .intro-header.big-img .post-heading .post-meta {
  color: #EEE;
}
.page-dark-mode .intro-header.big-img .img-desc {
  color: #EEE;
}
.page-dark-mode .header-section.has-img .no-img {
  background-color: #111;
  box-shadow: 0 0 0.3125rem #888;
}
.page-dark-mode .pagination .page-item .page-link {
  background-color: #18191a;
  color: #e4e6eb;
}
.page-dark-mode .pagination .page-item .page-link:hover,
.page-dark-mode .pagination .page-item .page-link:focus {
  color: #18191a;
  border-color: #28a9e6;
  background-color: #28a9e6;
}
.page-dark-mode table tr {
  border-top: 1px solid #666;
  background-color: #18191a;
}
.page-dark-mode table tr:nth-child(2n) {
  background-color: #28292a;
}
.page-dark-mode table tr th {
  border-color: #666;
}
.page-dark-mode table tr td {
  border-color: #666;
}
.page-dark-mode code {
  color: #c7254e;
  background-color: #2b2829;
}
.page-dark-mode .highlight > pre {
  background-image: linear-gradient(
    rgba(255,255,255,0.03), rgba(255,255,255,0.03) 1.5em, rgba(255,255,255,0.02) 1.5em, rgba(255,255,255,0.02) 3em);
  border-color: rgba(255,255,255,0.1);
  border-left-color: #a0a0a0;
}
.page-dark-mode pre {
  color: #e4e6eb;
}
.page-dark-mode pre code {
  color: inherit;
  background-color: transparent;
}
.page-dark-mode .highlight table,
.page-dark-mode .highlight tr,
.page-dark-mode .highlight td {
  border: none;
  background: none;
}
.page-dark-mode .highlight pre.lineno {
  color: rgba(255,255,255,0.3);
  border-right-color: #a0a0a0;
}
.page-dark-mode .box-note,
.page-dark-mode .box-warning,
.page-dark-mode .box-error,
.page-dark-mode .box-success {
  color: #404040;
}
.page-dark-mode .blog-post .caption {
  color: #aaa;
}
.page-dark-mode .blog-post hr {
  border-color: #999;
}
.page-dark-mode .blog-post blockquote {
  border-left-color: #444;
}
.page-dark-mode .jumbotron {
  background: #242526;
}

/* Custom Scrollbar */

.page-dark-mode ::-webkit-scrollbar {
    background-color: #202324 !important;
    color: #aba499 !important;
}
.page-dark-mode ::-webkit-scrollbar-thumb {
    background-color: #454a4d !important;
}
.page-dark-mode ::-webkit-scrollbar-thumb:hover {
    background-color: #575e62 !important;
}
.page-dark-mode ::-webkit-scrollbar-thumb:active {
    background-color: #484e51 !important;
}
.page-dark-mode ::-webkit-scrollbar-corner {
    background-color: #181a1b !important;
}
.page-dark-mode * {
    scrollbar-color: #202324 #454a4d !important;
}

/* Google Search Bar */
.page-dark-mode .gsc-input{background-color:#18191a;color:#e4e6eb}.page-dark-mode .gsc-webResult .gsc-result,.page-dark-mode .gsc-results .gsc-imageResult,.page-dark-mode .gsc-webResult .gsc-result:hover{background-color:#18191a;border-color:#18191a}.page-dark-mode #gs_tti50,.page-dark-mode .gsib_b{border:1px solid #18191a}.page-dark-mode .gsc-results{background-color:#18191a;width:auto}.page-dark-mode .gsc-tabHeader.gsc-tabhActive,.page-dark-mode .gsc-refinementHeader.gsc-refinementhActive,.page-dark-mode .gsc-refinementHeader.gsc-refinementhInactive{background-color:#18191a}.page-dark-mode.gsc-control-wrapper-cse{width:96%}.page-dark-mode .gsc-control-cse{font-family:'Open Sans',sans-serif;background-color:#18191a;border-color:#18191a}.page-dark-mode #gsc-iw-id1{background-color:#18191a}.page-dark-mode-input .gsc-input,.gsc-input-box,.gsc-input-box-hover,.gsc-input-box-focus{border-color:#18191a}.page-dark-mode .gsc-search-button .gsc-search-button-v2{background-color:#18191a;border-color:#18191a}.page-dark-mode .gsc-search-button-v2 svg{fill:#f5f5f5}.page-dark-mode .gs-webResult.gs-result a.gs-title:visited,.gs-webResult.gs-result a.gs-title:visited b,.gs-imageResult a.gs-title:visited,.gs-imageResult a.gs-title:visited b{color:#f0f0f0}.page-dark-mode .gs-webResult.gs-result a.gs-title:link,.gs-webResult.gs-result a.gs-title:link b,.gs-imageResult a.gs-title:link,.gs-imageResult a.gs-title:link b{color:#f0f0f0}.page-dark-mode .gs-webResult div.gs-visibleUrl{color:#28a9e6}.page-dark-mode .gs-webResult:not(.gs-no-results-result):not(.gs-error-result) .gs-snippet,.gs-fileFormatType{color:#e4e6eb}.page-dark-mode .gcsc-find-more-on-google{color:#e4e6eb}.page-dark-mode .gsc-tabHeader.gsc-tabhInactive,.gsc-refinementHeader.gsc-refinementhInactive{background-color:#18191a}.page-dark-mode .gsc-input-box{border:0}.page-dark-mode .gsc-tabHeader.gsc-tabhActive,.gsc-refinementHeader.gsc-refinementhActive{color:#e4e6eb}.page-dark-mode .gsc-tabHeader.gsc-tabhInactive,.gsc-refinementHeader.gsc-refinementhInactive{color:#e4e6eb}.page-dark-mode .gsc-above-wrapper-area{border:0;border-bottom:0}.page-dark-mode .gsc-selected-option-container{background-color:#18191a;color:#e4e6eb}.page-dark-mode .gsc-result-info{color:#e4e6eb}.page-dark-mode .gsc-orderby-label{color:#e4e6eb}.page-dark-mode .gcsc-find-more-on-google-magnifier{fill:#f5f5f5}
